/*slick slider for slider  */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
ul li {
    list-style: none;
}

.navbar {
    font-size: 18px;
    background: #fff;
    padding-bottom: 10px;
    box-shadow: 1px 2px 5px 2px #eee;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav-active {
    display: block;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #454545;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #454545;
    font-size: 24px;
}

.active {
    display: block;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: #454545;
    color: #fff;
    height: 80px;
    width: 100%;
}

.left-footer {
    width: 33.33vw;
}

.right-footer ul {
    display: flex;
    justify-content: space-evenly;
}

.right-footer small {
    float: right;
    padding-right: 16px;
    display: flex;
    margin-top: -10px;
}

.right-footer {
    width: 33.33vw;
}


/*Layout  */

.underline {
    padding-left: 20px;
    padding-top: 10px;
}

.underline::after {
    border-bottom: 3px solid red;
    content: '';
    padding-bottom: 5px;
    width: 10%;
    bottom: 0;
    display: flex;
}

.text-author {
    color: #454545;
    padding-top: 10px;
}


/*main article  */

.layout-main {
    background: #eee;
    margin-top: -20px;
}

.col {
    padding: 0;
    margin: 0 15px 2px 0;
}

.col-main {
    flex: 7;
}

.col-side {
    flex: 2;
    position: relative;
    height: 500px;
    overflow: scroll;
}

.box-side {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 15px;
    margin-bottom: 10px;
    background: #fff;
}

.box-side h4 {
    margin: 0;
    margin-bottom: 10px;
}

.img-res {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/*slider arrows  */

.layout-slide {
    padding: 20px;
}

.slick-slide {
    margin: 0 5px;
}

.slick-list {
    padding: 0 20% 0 0 !important;
    overflow: hidden;
}

.slick-current.slick-active.slick-center {
    opacity: 1;
}

.slick-slide {
    opacity: 0.6;
}

.slick-slider {
    overflow: hidden;
    height: 300px;
}

.tile-slider-arrows {
    position: absolute;
    z-index: 2;
    top: 110px;
    height: 100px;
    width: 50px;
    background: #454545;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
}

.tile-slider-arrows .fa-2x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.tile-slider-arrow-next {
    right: 0;
    padding-left: 15px;
    -webkit-box-shadow: -4px 2px 6px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -4px 2px 6px 0px rgba(0, 0, 0, 0.34);
}

.tile-slider-arrow-prev {
    left: 0;
    padding-right: 15px;
    -webkit-box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.34);
}

.wrapper {
    position: relative;
}

.text {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*card boxes  */

.layout-box {
    padding: 20px;
    background: #eee;
}

#card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#card-layout .card {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    width: calc(96% / 3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
}

.card h3 {
    padding-left: 20px;
}

.card p {
    padding-left: 20px;
    padding-bottom: 10px;
}

.sub-card {
    background: transparent;
    box-shadow: none !important;
}

.sub-content-article {
    border-bottom: 1px solid #a3a3a3;
}

.col-main-blog {
    flex: 8;
}

.col-side-blog {
    flex: 2;
    position: relative;
    height: 500px;
    overflow: scroll;
}

.blog-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.blog-content {
    display: flex;
    margin-bottom: 20px;
}

.blog-img {
    flex: 2;
}

.blog-headline {
    flex: 7;
    padding-left: 20px;
}

.publish-box {
    border: 1px solid #a3a3a3;
    text-align: center;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #454545;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}


/* Responsive: */

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
        /* padding: 15px; */
    }
    .nav-link {
        margin-left: 40px;
        color: #454545;
        text-decoration: none;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    .main-layout {
        display: flex;
        margin-bottom: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 788px) {
    .underline::after {
        width: 46%;
    }
    .col {
        margin: 0;
        margin-bottom: 10px;
    }
    .main-headline {
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .text-author-main {
        padding-left: 10px;
    }
    .col-side {
        height: 300px;
    }
    #card-layout .card {
        width: 100%;
    }
    .blog-container {
        display: inline;
    }
    .blog-content {
        display: inline;
    }
    .col-side-blog {
        height: auto;
    }
    .footer {
        display: inline;
        text-align: center;
        height: 100px;
    }
    .left-footer {
        width: 100%;
    }
    .right-footer {
        width: 100%;
    }
    .right-footer ul {
        padding-left: 0;
    }
    .right-footer small {
        float: none;
        justify-content: center;
    }
    .tile-slider-arrows {
        top: 50px;
        height: 50px;
        width: 50px;
        font-size: 10px;
    }
    .tile-slider-arrows .fa-2x {
        padding-top: 15px;
    }
    .slick-list {
        padding: 0 50px !important;
    }
    .slick-slider {
        height: 200px;
    }
    .slick-slide {
        margin: 0;
    }
}